{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spam classifier</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'spam_classifier/style.css' %}" />
</head>
<body>

<h1>Welcome!</h1>
<br>
<h3>
    Enter a text in the field below and select your method of analysis.
    Click submit to find out if the text would be classified as spam or not.
</h3>

<br>

<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    
    <div class = "btn-group">
        <button type = "button" class = "btn btn-default dropdown-toggle" data-toggle = "dropdown">
            Naive bayes
            <span class = "caret"></span>
        </button>

        <ul class = "dropdown-menu" role = "menu">
            <li><a href = "#" id="nb">Naive bayes</a></li>
            <li><a href = "#" id="per">Perceptron</a></li>
            <li><a href = "#" id="svm">SVM</a></li>
            <li><a href = "#" id="knn">k-NN</a></li>
        </ul>

        <script type="text/javascript">
        $(".dropdown-menu li a").click(function(){
            document.getElementById('submitbtn').name=$(this).text();
        $(this).parents(".btn-group").find('.btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".btn-group").find('.btn').val($(this).data('value'));
        });
        </script>
    </div>

    <button id="submitbtn" type="submit" class="btn btn-success" name="Naive Bayes">Analyze</button>
</form>


</body>
</html>