{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spam classifier</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'spam_classifier/style.css' %}" />
</head>
<body>

<h1>Welcome!</h1>
<br>
<h3>
    Enter a text in the field below to analyze it with naive-bayes classifier to know if this
    text would be classified as spam.
</h3>

<br>

<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-success">Analyze</button>
</form>


</body>
</html>